.modalHeader {
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
}

.error{
  color: white;
  /* background-color: rgb(185, 62, 62); */
  background-color: #dc3545;
}

.success{
  color: white;
  /* background-color: rgb(47, 168, 47); */
  background-color: #157347;;
}

.modalBody {
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  height: 100px;
}

.modalPrimaryButton {
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  /* background: #5f2eea; */
  color: #FFFFFF;
}