.maincontainer {
   margin: 5%;
   width: 45%;
   font-family: Mulish;

}

.title {
   margin-bottom: 50px;
   font-weight: 600;
   font-size: 26px;
   line-height: 33px;
   letter-spacing: 0.005em;
   color: #121212;
}

.desctitlelogin {
   margin-bottom: 50px;
}

.signupfrom {
   width: 100%;
}

.email {
   padding-top: 50px;
}

.inputname {
   border: 1px solid rgba(169, 169, 169, 0.6);
   display: flex;
   flex-direction: row;
   margin: 20px 0px;
   height: 60px;
   align-items: center;
   border-radius: 4px;
}

.inputname input {
   border: none;
   height: 50px;
   width: 100%;
   margin-left: 20px;
   border-radius: 4px;
}

.inputname input:focus {
   outline: none;
}

.infosignup {
   text-align: center;
   padding: 50px 0px;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 0.005em;
   color: #696f79;
}

.password {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.login {
   color: #5f2eea;
   cursor: pointer;
}

.showpassword {
   margin: 10px 15px 0px 0px;
}

.checkbox {
   display: flex;
}

.titlecheckbox {
   margin-left: 10px;
   font-weight: 400;
   font-size: 18px;
   line-height: 34px;
   letter-spacing: 0.75px;
   color: #696f79;
}

.signupbutton {
   border: none;
   margin-top: 50px;
   height: 70px;
   width: 100%;
   background-color: #5f2eea;
   color: #f7f7fc;
   border-radius: 4px;
}
.dissignupbutton {
   border: none;
   margin-top: 50px;
   height: 70px;
   width: 100%;
   color: #5f2eea;
   background-color: #f7f7fc;
   border-radius: 4px;
}

.forgotbutton {
   border: none;
   margin-top: 100px;
   margin-bottom: 125px;
   height: 70px;
   width: 100%;
   background-color: #5f2eea;
   color: #f7f7fc;
   border-radius: 4px;
}

.disforgotbutton {
   border: none;
   margin-top: 100px;
   margin-bottom: 125px;
   height: 70px;
   width: 100%;
   color: #5f2eea;
   background-color: #f7f7fc;
   border-radius: 4px;
}

.forgotbutton2 {
   border: none;
   margin: 50px 0px;
   height: 70px;
   width: 100%;
   background-color: #5f2eea;
   color: #f7f7fc;
   border-radius: 4px;
}

.disforgotbutton2 {
   border: none;
   margin: 50px 0px;
   height: 70px;
   width: 100%;
   color: #5f2eea;
   background-color: #f7f7fc;
   border-radius: 4px;
}

.buttonGoogleFb {
   display: flex;
   justify-content: center;
   width: 100%;
}

.google {
   background: #ffffff;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
   border-radius: 10px;
   border: none;
   height: 50px;
   width: 150px;
   padding-top: 10px;
   text-align: center;
   font-weight: 600;
   font-size: 18px;
   line-height: 23px;
   letter-spacing: 0.005em;
   color: #a0a3bd;
   margin-right: 15px;
}

.facebook {
   background: #ffffff;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
   border-radius: 10px;
   border: none;
   height: 50px;
   width: 150px;
   padding-top: 10px;
   text-align: center;
   font-weight: 600;
   font-size: 18px;
   line-height: 23px;
   letter-spacing: 0.005em;
   color: #a0a3bd;
   margin-left: 15px;
}

@media (max-width: 768px) {
   .maincontainer {
      width: 89%;
   }

   .titlecheckbox {
      font-size: 15px;
   }

   .desctitlelogin {
      margin-bottom: 25px;
   }
}

@media (max-width: 425px) {
   .title {
      margin-bottom: 10px;
      font-size: 20px;
   }

   .desctitlelogin {
      font-size: 12px;
   }

   .email {
      padding-top: 20px;
   }
}