@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Nunito:wght@800&display=swap");

.ContainerLayout {
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.BrandName {
  font-weight: 700;
  color: #5f2eea;
  font-size: 30px;
  cursor: pointer;
}

.BrandName .logo {
  transform: rotate(-45deg);
}

.dropDownNav {
  cursor: pointer;
  position: relative;
  z-index: 99;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.searchNav {
  cursor: pointer;
  position: relative;
}

.searchDrop {
  position: absolute;
  top: 50px;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 0 rgba(73, 73, 73, 0.226);
}

.textHeader>p,
.textHeader>h1 {
  color: #5f2eea;
  font-family: "Mulish", sans-serif;
}

.searchField {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(214, 208, 208);
}

.searchField:focus {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(172, 164, 164);
  outline: none;
}

.DropdownLoc {
  position: absolute;
  top: 30px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 5px 0 rgba(129, 127, 127, 0.226);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  background-color: white;
}

.signButton {
  background-color: #5f2eea;
  padding: 8px 30px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.logoutButton {
  border: 2px solid #5f2eea;
  background-color: #FFFFFF;
  padding: 8px 30px;
  color: #5f2eea;
  border-radius: 10px;
  cursor: pointer;
}

.signButton:hover {
  font-weight: bolder;
}
.logoutButton:hover {
  font-weight: bolder;
}

.FooterLayout {
  padding: 100px 50px;
}

.BrandFooter {
  color: #5f2eea;
}

.FooterCr {
  color: #4e4b66;
}

.listFooter>ul>li {
  list-style: none;
  margin-top: 15px;
  color: #4e4b66;
}

.cardShowing {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 10px 0 rgba(73, 73, 73, 0.226);
}


.cardShowing > p {
  font-size: 11px;
  margin-top: 5px;
}

.UpcomingRow {
  margin-top: 100px;
}

.buttonCard {
  padding: 5px;
  outline: none;
  border: 1px solid #5f2eea;
  color: #5f2eea;
  background-color: transparent;
  width: 140px;
  border-radius: 10px;
  font-weight: bold;
}

.buttonCard:hover {
  font-weight: bold;
}

.buttonMonth {
  padding: 10px;
  outline: none;
  border: 1px solid #5f2eea;
  color: #5f2eea;
  background-color: transparent;
  width: 127px;
  border-radius: 10px;
  font-weight: bold;
}

.buttonMember {
  background-color: #5f2eea;
  color: white;
  border: 2px solid #5f2eea;
  margin-left: 10px;
  border-radius: 5px;
  width: 12%;
  font-size: 15px;
  padding: 8px;
}

.CardMember {
  padding: 50px;
  box-shadow: 0px 2px 10px 0 rgba(73, 73, 73, 0.226);
  border-radius: 10px;
  font-size: 20px;
}

.inputMember {
  border: 1px solid #dedede;
  padding: 4px;
  border-radius: 5px;
}

.CardMember>section {
  color: #5f2eea;
  font-size: 40px;
  font-weight: bold;
}

.descMember {
  margin-top: 40px;
  font-size: 13px;
  color: #4e4b66;
}

.clickAble {
  cursor: pointer;
}

@media (max-width: 600px) {
  .listFooter>ul>li {
    margin-top: 5px;
    font-size: 11px;
  }

  .buttonMember {
    font-size: 11px;
    width: 20%;
    height: auto;
    margin-top: 20px;
  }
}