.cardDetail {
  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 10px;
}

.descDetail > div {
  color: #8692a6;
}

.synopsis {
  font-size: 20px;
}

.synopsis > section {
  color: #8692a6;
  font-size: 16px;
  line-height: 32px;
}

.showTimes {
  margin-top: 150px;
}

.dropDate > input {
  background-color: #eff0f6;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  width: 284px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.dropLoc {
  position: relative;
  cursor: pointer;
  background-color: #eff0f6;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  width: 284px;
}

.dropContent {
  background-color: #eff0f6;
  padding: 10px 25px;
  border-radius: 10px;
  width: 284px;
  left: 0px;
  z-index: 2;
}

.unBlockable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.CardCinemas {
  border-radius: 5px;
  border: 1px solid #dedede;
}

.titleCard {
  border-bottom: 1px solid #dedede;
}

.descStreet > p {
  font-size: 11px;
}

.buttonBook {
  background-color: #5f2eea;
  color: white;
  padding: 8px 25px;
  border-radius: 10px;
  border: none;
  width: 45%;
  font-size: 11px;
}

.subTitle > p {
  font-size: 11px;
}

.Hours > p {
  margin: 0;
  width: 70px;
}

.cardBorder {
  border-bottom: 1px solid #dedede;
}

.buttonPag {
  background-color: #5f2eea;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  border: none;
  font-size: 11px;
}

.headerCard {
  padding-bottom: 15px;
  text-align: center;
  margin: 10px 0px;
}

.headerActive {
  border-bottom: 2px solid #5f2eea;
}

.sortBy {
  z-index: 99;
  background-color: #dedede;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  Border: 1.5px solid #5f2eea;
  border-radius: 10px;
  color: #5f2eea;
  background-color: white;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.menuSort {
  z-index: 99;
  position: absolute;
  text-align: center;
  Border: 1.5px solid #5f2eea;
  border-radius: 10px;
  color: #5f2eea;
  background-color: white;
  width: 7.25%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  cursor: pointer;
  margin-top: 1px;
}


.menuOrder {
  z-index: 99;
  position: absolute;
  text-align: center;
  border: 1.5px solid #5f2eea;
  border-radius: 10px;
  color: #5f2eea;
  background-color: white;
  width: 6.37%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  cursor: pointer;
  margin-top: 1px;
}

.menuSort > p,
.menuFilter > p,
.menuOrder > p {
  margin: 10px;
}

.buttonMonth {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonMonth > button {
  background-color: white;
  border: 1px solid #5f2eea;
  font-weight: bold;
  color: #5f2eea;
  padding: 5px 25px;
  border-radius: 10px;
  font-size: 15px;
}

.formInput > input {
  background-color: white;
  border: 1px solid #5f2eea;
  font-weight: bold;
  color: #5f2eea;
  border-radius: 10px;
  height: 100%;
  padding: 5px 25px;
}

.formInput > input::placeholder{
  color: #5f2eea;
}
