.cardName {
   background-color: white;
   padding: 10px 30px;
   border-radius: 15px;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -o-user-select: none;
}

.profileContainer {
   background-color: #f5f6f8;
   padding: 80px;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -o-user-select: none;
}

.borderBottom {
   border-bottom: 1px solid #dedede;
}

.profPict {
   width: 150px;
   height: 150px;
   object-fit: cover;
   object-position: 50% 50%;
   border-radius: 50%;
}

.cardMember {
   background-image: url(../assets/img/cardmember.png);
   height: 150px;
   background-repeat: no-repeat;
   position: relative;
   padding-top: 20px;
   background-size: 100%;
}

.cardLoadContainer {
   width: 100%;
   height: 15px;
   background-color: #f1f0f0;
   border-radius: 8px;
}

.cardLoad {
   width: 80%;
   height: 15px;
   background-color: #5f2eea;
   border-radius: 8px;
}

.cardEditHeader {
   background-color: white;
   padding: 20px 30px;
   border-radius: 10px;
}

.cardEdit {
   margin-top: 40px;
   background-color: white;
   padding: 40px 30px;
   border-radius: 10px;
}

.statuspayment {
   color: darkgrey;
   margin: 0;
}

.ShowDetails {
   cursor: pointer;
}

.buttonActive {
   background-color: #00ba88;
   border: none;
   color: white;
   border-radius: 10px;
   padding: 10px 35px;
}

.cardOrder {
   margin-top: 40px;
   background-color: white;
   padding: 40px 30px;
   border-radius: 10px;
}

.headerEdit {
   border-bottom: 1px solid #dedede;
   padding-bottom: 15px;
   font-weight: bold;
}

.fieldInput {
   border-radius: 10px;
   background-color: #fcfdfe;
   padding: 10px;
   border: 1px solid #dedede;
}

.input {
   background-color: #fcfdfe;
   border: none;
   width: 95%;
}

.input:focus {
   outline: none;
}

.fieldInput:focus {
   outline: none;
   border: none;
}

.buttonChanges {
   background-color: #5f2eea;
   margin-top: 50px;
   border: 1px solid #5f2eea;
   height: 56px;
   width: 360px;
   border-radius: 16px;
   color: white;
}

.disbuttonChanges {
  color: #5f2eea;
  margin-top: 50px;
  border: 1px solid #5f2eea;
  height: 56px;
  width: 360px;
  border-radius: 16px;
  background-color: white;
}

.dropProfile {
   position: absolute;
   box-shadow: 0px 2px 10px 0 rgba(73, 73, 73, 0.226);
   padding: 10px;
   background-color: white;
   width: 100px;
   border-radius: 5px;
   cursor: pointer;
}

.Threedots {
   cursor: pointer;
}

.clickActive {
   color: #5f2eea;
   font-weight: bold;
   cursor: pointer;
   padding-bottom: 5px;
   border-bottom: 2px solid #5f2eea;
}

.clickDisable {
   color: black;
   font-weight: light;
   cursor: pointer;
}

@media (max-width: 768px) {
   .cardMember {
      height: 200px;
      width: 100%;
   }
}
